
<fieldset class="graphselect">
	<legend>Restaurant Categories</legend>
	
	<%=form_tag restaurants_path, :method => 'get' do %>
		<%=select_tag :graph_categories, options_for_select( ['cuisine', 'address', 'rating', 'price'], params[:graph_categories] ) %>
		<%=submit_tag "Submit", :id => "sub_graph" %>
	<%end%>
	
</fieldset>


<div id = "graph_display">
	<%=render :partial => 'graph', :locals => {:hGraph => @hGraph} %>
</div> 
