<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, "E-mail"%><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :firstname, "First Name" %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname, "Last Name" %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :address, "Address" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city, "City" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state, "State" %><br />
    <%= f.select :state, User::STATE_CODE, {:prompt => "Select State"} %>
  </div>
  <div class="field">
    <%= f.label :postalcode, "Zip Code" %><br />
    <%= f.text_field :postalcode %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </div>
    <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
