
<div class="chairs">
		<%= link_to( image_tag('home/landing/chair_about.png',  :id => "chair"), about_path)%>
		<%=link_to image_tag('home/landing/chair_range.png', :id => "chair"), '#'%>
		<%=link_to image_tag('home/landing/chair_restaurants.png', :id => "chair"), restaurants_path%>
</div>

<div>
	<%=image_tag 'home/landing/chair_table.png', :class => 'table' %>
</div>
