/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: image-url("home/landing/background.png");
}

/* This block is for entire menu bar div */
#MenuBarDiv{
  position:relative;
  left: 50%;
  top:-30px;
  margin-left:-405px;
}
/* This block defines the list which of the menu links */
.MenuBar{
  list-style-type:none;
  margin:0;
  padding:0;
}
/* This block defines the We Deliver logo within the div */
#WeDeliverLogo{
  position: relative;
  display:inline;
  top:44px;
}
/* This block defines the styles for the menu links */
.listStyle{
  display:inline;
  text-decoration:none;
}
/* Link styling */
.menuBarLinks{
  text-decoration:none;
  color:black;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


/*Login and Register Links*/
#login{
  text-decoration: none;
  color: black;
  float: right;
}
#login:hover{
  color: #800000;
  text-decoration: none;
}

.login{
  margin: 0;
  top: 155px;
  left: 50%;
  padding-left: 390px;
  position: absolute;
}
.login ul li{
  display: inline;
}

/*error notices and flash message*/
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
