// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#FormDiv{
	padding:0px;
	margin-right:auto;
	margin-left:auto;
	background:url(Login-Inlay.png);
	background-repeat:no-repeat;
	background-position:center;
	height:350px;
	width:600px;
	margin-top:50px;
}

h1{
	text-align:center;
	padding:25px 0px 5px 0px;
	/*border:2px solid #000;*/
}
fieldset{
	border:0;
	margin:auto;
	width:500px;
	height:350px;
	text-align:left;		
}

#inputFields{
	list-style-type:none;
}
	
.inputstyle{
     border-radius: 10px;
     border:solid 1px #929292;
     font-size: 14px;
     width: 90%;
     padding: 7px 10px 7px 8px;
     background: #ddd;  
 }
 
 .pad{
	 padding: 2px;
 }
 #loginButton{
	padding: 15px 0px 0px 360px;
}

#Register{
	/*border:1px solid #000;*/
	padding:0px;
	color:#6e201c;
	position:relative;
	left:6px;
	width:100px;
}

#ForgotPw{
	padding:0px 0px 0px 0px;
	color:#6e201c;
	position:relative;
	left:265px;
	width:115px;
	
}

.chairs{
	list-style: none;
	margin: 0;
	text-align: center;
}
.chairs ul li{
	display: inline;
}
.table{
	position: absolute;
	margin: 0;
	top: 180px;
	left: 50%;
	margin-left: -590px;
}
#chair {
	top: 100px;
	-webkit-transition: padding 2s;
	position: relative;
	text-align: center;
}
#chair:hover{
	top: 35px;
	-webkit-transition: padding 2s;
}

#AboutUsDiv{
	background:image-url("home/about/AboutUs-Inlay.png");
	background-repeat:no-repeat;
	background-position:center;
	width:800px;
	height:450px;
	left:50%;
	position:relative;
	margin-left:-400px;
	top: 30px;
	padding-top: 15px;
}
h1{
	text-align:center;
	margin-top: 15px;
}
h2{
	margin-left:30px;
	width:150px;
	text-decoration: underline;
}
p{
	Margin-left:20px;
	width: 400px;
	font-size: 12px;
}
#BottomBarDiv{
  position:absolute;
  left:50%;
  margin-left:-170px;
  top: 900px;
} 
#image{
	height:110px;
	width:90px;
	padding:0px;
}
#pics{
	position: absolute;
	margin-left: 550px;
	top: 20px;
}
#name{
	font-size: 12px;
}