// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset.graphselect{
  text-align: center;
  
  width: 200px;
  height : 50px;
  margin: 0px auto;
}

#graph_display
{
  width: 1280px;
  height: 800px;
  margin: 0px auto;
}
