// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* This block defines the styles for the menu links */
.listStyle{
	display:inline;
	text-decoration:none;
}
/* Link styling */
.menuBarLinks{
	text-decoration:none;
	font-family:Sans Serif;
	color:black;
}

#FormDiv{
	padding:0px;
	margin-right:auto;
	margin-left:auto;
	background: image-url("user_sessions/Login-Inlay.png");
	background-repeat:no-repeat;
	background-position:center;
	height:350px;
	width:600px;
	margin-top:50px;
}

h1{
	text-align:center;
	padding:25px 0px 5px 0px;
	/*border:2px solid #000;*/
}
fieldset{
	border:0;
	margin:auto;
	width:500px;
	height:350px;
	text-align:left;		
}

#inputFields{
	list-style-type:none;
}
	
.inputstyle{
     border-radius: 10px;
     border:solid 1px #929292;
     font-size: 14px;
     width: 90%;
     padding: 7px 10px 7px 8px;
     background: #ddd;  
 }
 
 .pad{
	 padding: 2px;
 }
 #loginButton{
	padding: 15px 0px 0px 360px;
}

#Register{
	/*border:1px solid #000;*/
	padding:0px;
	color:#6e201c;
	position:relative;
	left:6px;
	width:100px;
}

#ForgotPw{
	padding:0px 0px 0px 0px;
	color:#6e201c;
	position:relative;
	left:265px;
	width:115px;
	
}

