
<div>
<% if flash[:alert] %>
	<p id= "notice"> <%=flash[:alert]%> </p>
<% end %>
</div>


<div id="FormDiv">
	<fieldset>

	<%= form_for @user_session do |f|%>

	<!--<legend>Please Log In</legend>-->
		<h1>Please Log In</h1>
			<ol id=inputFields>
				<li class="pad">
					<!--<label for=email>Email</label>-->
					<%=f.text_field :email, :placeholder => "Example@domain.com", :class => "inputstyle" %>
				</li>
				<li class="pad">
					<!--<label for=password>Password</label> -->
					<%=f.password_field :password, :placeholder => "Password", :class =>"inputstyle"%>
				</li>
				<li id="loginButton">
					<%= f.submit %>

		</fieldset>
	<% end %>
</div>	


